<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Broccoli Blog</title>
</head>
<body>

<main role="main">
 <% if session[:id] == @user.id %>
   <div class="bg-dk-green pad-t-2 pad-s-1 pad-b-8 mar-b-16 c-white">
      <div class="max-w-700 center">
      <a id="new-post" href="/entries/new" class="block button w-100 mar-t-2 mar-b-3 pad-2 round-1 text-c center">Write about Broccoli</a>
   </div>
 <% end %>

 <form id="post" method="post" action="/entries">
  <label for="title-input" class="block mar-b-1">Title:</label>
  <input id="title-input" name="entry[title]" type="text" value="<%= @entry.try(:title) %>" tabindex="1" class="block w-100 no-outline no-border pad-1 mar-b-2">

  <label for="body-textarea" class="block mar-b-1">Body:</label>
  <textarea id="body-textarea" name="entry[body]" tabindex="2" class="block w-100 h-10 no-resize no-outline no-border no-resize pad-1 mar-b-2"><%= @entry.try(:body) %></textarea>

  <input type="submit" value="Publish" tabindex="3" class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">
</form>

  <ul class="entries-list no-bullets no-padding">
    <% @entries.each do |entry| %>
      <li class="entry-item pad-b-4">
        <a href="/entries/<%= entry.id %>" class="entry-title font-2 pad-b-1-4 c-white"><%= entry.title %></a>

        <span class="entry-date block font-3-4 c-lt-gray"><%= "Written on #{long_form_date(entry.created_at)} by #{entry.user.username}." %></span>
        <p class="entry-stub"><%= stub(entry.body) %></p>
      </li>
    <% end %>
  </ul>
</main>
</body>
</html>


